{% extends 'category.html' %}
{% load static %}
{% block category %}

<div class="site-cover site-cover-sm same-height overlay single-page"
    style="background-image: url('{% static 'zenquest/images/hero_1.jpg' %}');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <span class="post-category text-white bg-success mb-3">Entertainment</span>
                    <h1 class="mb-4"><a href="#">'Entertainment' Category</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="site-section py-lg">
    <div class="container">

        <div class="row blog-entries element-animate mb-5">

            <div class="col-md-12 col-lg-8 main-content">
                <!-- 'Eternals' Director Chloé Zhao Wants Her Marvel Debut to Be Bigger Than 'Avengers: Endgame' -->

                <div class="entry2 mb-5">
                    <a
                        href="https://www.cheatsheet.com/entertainment/eternals-director-chloe-zhao-wants-her-marvel-debut-to-be-bigger-than-avengers-endgame.html/"><img
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Image"
                            class="img-fluid rounded"></a>
                    <span class="post-category text-white bg-primary mb-3">Entertainment</span>
                    <h2><a
                            href="https://www.cheatsheet.com/entertainment/eternals-director-chloe-zhao-wants-her-marvel-debut-to-be-bigger-than-avengers-endgame.html/">'Eternals'
                            Director Chloé Zhao Wants Her Marvel Debut to Be Bigger Than 'Avengers: Endgame'</a>
                    </h2>
                    <div class="post-meta align-items-center text-left clearfix">
                        <figure class="author-figure mb-0 mr-3 float-left"><img
                                src="{% static 'zenquest/images/person_1.jpg' %}" alt="Image" class="img-fluid">
                        </figure>
                        <span class="d-inline-block mt-1">By <a
                                href="https://www.cheatsheet.com/author/perry-carpenter/">Perry
                                Carpenter </a></span>
                        <span>&nbsp;-&nbsp; September 18, 2020</span>
                    </div>
                    <p><a href="https://www.cheatsheet.com/entertainment/marvel-phase-4-nick-fury-will-reportedly-recruit-shang-chi-to-join-the-avengers.html/"
                            rel="noreferrer noopener">Marvel’s Phase 4</a> is filled with a number of highly-anticipated
                        sequels. They are also introducing <em>Eternals</em>, which has the potential to become a whole
                        new
                        Marvel franchise. As <a target="_blank"
                            href="https://screenrant.com/eternals-director-chloe-zhao-join-mcu-reason/">Screen Rant</a>
                        points out, most people don’t know anything about the characters. But as fans know, Marvel has a
                        proven
                        strategy for success. ......</p>
                </div>


                <!-- Wonder Woman 1984 Japanese Trailer Shows Diana's Golden Armor In Action -->

                <div class="entry2 mb-5">
                    <a href="https://screenrant.com/wonder-woman-1984-trailer-dianas-golden-armor/"><img
                            src="https://static2.srcdn.com/wordpress/wp-content/uploads/2020/04/Wonder-Woman-1984-Gold-Wings-Costume.jpg?q=50&fit=crop&w=960&h=500"
                            alt="Image" class="img-fluid rounded"></a>
                    <span class="post-category text-white bg-primary mb-3">Entertainment</span>
                    <h2><a href="https://screenrant.com/wonder-woman-1984-trailer-dianas-golden-armor/">Wonder Woman
                            1984 Japanese
                            Trailer Shows Diana's Golden Armor In Action</a></h2>
                    <div class="post-meta align-items-center text-left clearfix">
                        <figure class="author-figure mb-0 mr-3 float-left"><img
                                src="{% static 'zenquest/images/person_1.jpg' %}" alt="Image" class="img-fluid">
                        </figure>
                        <span class="d-inline-block mt-1">By <a href="">TIFFANY WANG</a> </span>
                        <span>&nbsp;-&nbsp; September 19, 2020</span>
                    </div>
                    <p>Fans of Diana Prince&nbsp;are able to see her golden armor in all its glory in a newly
                        released&nbsp;<strong><em><a href="https://screenrant.com/tag/wonder-woman-2/">Wonder Woman
                                    1984</a>&nbsp;</em></strong>Japanese trailer.&nbsp;<em>Wonder Woman
                            1984&nbsp;</em>is a sequel to the 2017 film&nbsp;<em>Wonder Woman.&nbsp;</em>Gal Gadot is
                        set to
                        star once again in the titular role and trailers have revealed that Steve Trevor is somehow back
                        from
                        the
                        dead as well. ......</p>
                </div>

                <div class="row text-center pt-5 border-top">
                    <div class="col-md-12">
                        <div class="custom-pagination">
                            <span>1</span>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">15</a>
                        </div>
                    </div>
                </div>
                {% endblock %}