<!-- othetrs here

<div class="entry2 mb-5">
        <a href=""><img src="" alt="Image" class="img-fluid rounded"></a>
        <span class="post-category text-white bg-primary mb-3">Technology</span>
        <h2><a href="">How The U.S. Hacked ISIS</a></h2>
        <div class="post-meta align-items-center text-left clearfix">
                <figure class="author-figure mb-0 mr-3 float-left"><img
                                src="{% static 'zenquest/images/person_1.jpg' %}" alt="Image" class="img-fluid">
                </figure>
                <span class="d-inline-block mt-1">By <a href="">DINA
                                TEMPLE-RASTON</a></span>
                <span>&nbsp;-&nbsp; September 26, 2019</span>
        </div>
        <p>...... </p>
</div> -->