{% extends 'category.html' %}
{% load static %}
{% block category %}

<div class="site-cover site-cover-sm same-height overlay single-page"
        style="background-image: url('{% static 'zenquest/images/hero_1.jpg' %}');">
        <div class="container">
                <div class="row same-height justify-content-center">
                        <div class="col-md-12 col-lg-10">
                                <div class="post-entry text-center">
                                        <span class="post-category text-white bg-success mb-3">Technology</span>
                                        <h1 class="mb-4"><a href="#">'Technology' Category</a></h1>
                                </div>
                        </div>
                </div>
        </div>
</div>

<section class="site-section py-lg">
        <div class="container">

                <div class="row blog-entries element-animate mb-5">

                        <div class="col-md-12 col-lg-8 main-content">

                                <!-- bluetooth flaws leaves millions of devices vulnerable -->

                                <div class="entry2 mb-5">
                                        <a
                                                href="https://www.zdnet.com/article/billions-of-devices-vulnerable-to-new-blesa-bluetooth-security-flaw/"><img
                                                        src="https://media.wired.com/photos/5f64e9088595a16063bbc4d9/master/w_2560%2Cc_limit/Science_bluetoothhack_1224801096.jpg"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://www.zdnet.com/article/billions-of-devices-vulnerable-to-new-blesa-bluetooth-security-flaw/">A
                                                        Bluetooth Flaw Leaves Billions of Devices Vulnerable</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a href="#">BRIAN
                                                                BARRETT</a></span>
                                                <span>&nbsp;-&nbsp; September 19, 2020 09:00 AM</span>
                                        </div>
                                        <p>Researchers have disclosed what they call a Bluetooth Low Energy Spoofing
                                                Attack, which focuses on the
                                                protocol's
                                                reconnection process rather than more common pairing vulnerabilities.
                                                With BLESA, the Purdue University
                                                team
                                                found
                                                that it could send spoofed data to a vulnerable device, causing various
                                                shenanigans. Windows devices
                                                aren't
                                                affected, and Apple has patched the flaw, but the researches said that
                                                Android many IoT devices were
                                                still
                                                susceptible as of June. Given the prevalence of Bluetooth Low Energy
                                                devices, the researchers estimate
                                                that
                                                billions
                                                may be impacted. It's yet another security concern for Bluetooth, whose
                                                <a href="https://www.wired.com/story/bluetooth-complex-security-risk/">complexity
                                                        has made it
                                                        increasingly
                                                        harder
                                                        to</a>. ......
                                        </p>
                                </div>

                                <!-- The Best Apple Deals Right Now -->

                                <div class="entry2 mb-5">
                                        <a href="https://www.nytimes.com/wirecutter/money/best-apple-deals/"><img
                                                        src="https://cdn.thewirecutter.com/wp-content/uploads/2020/05/appleblackfriday-lowres-2x1-8289-1-1024x512.jpg"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://www.nytimes.com/wirecutter/money/best-apple-deals/">The
                                                        Best Apple Deals Right Now</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a href="#">Nytimes</a></span>
                                                <span>&nbsp;-&nbsp; SEPTEMBER 18, 2020</span>
                                        </div>
                                        <p>Despite Apple products’ apparent ubiquity in many people’s lives, it can be
                                                shockingly hard to find a good
                                                deal
                                                on
                                                things that seem to be so common. It can be months after launch before
                                                big-box stores start offering
                                                even modest
                                                deals
                                                on iPads, cutting prices on AirPods, or putting the Apple TV on sale.
                                                iPhone deals pop up, but they
                                                often take
                                                the form
                                                of bonuses like gift cards instead of price cuts, and many other Apple
                                                products rarely see drops of
                                                .......</p>
                                </div>

                                <!-- Gangster capitalism and the American theft of Chinese innovation -->

                                <div class="entry2 mb-5">
                                        <a href="https://tcrn.ch/3cnDJHm"><img
                                                        src="https://techcrunch.com/wp-content/uploads/2018/12/GettyImages-872040216.jpg?w=730&crop=1"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://tcrn.ch/3cnDJHm">Gangster capitalism and the American
                                                        theft of Chinese innovation</a>
                                        </h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a
                                                                href="https://techcrunch.com/author/danny-crichton-2/">Danny
                                                                Crichton
                                                        </a></span>
                                                <span>&nbsp;-&nbsp; September 20, 2020</span>
                                        </div>
                                        <p>
                                                It used to be “easy” to tell the American and Chinese economies apart.
                                                One was innovative, one made
                                                clones. One
                                                was a
                                                free market while the other demanded payments to a political party and
                                                its leadership, a corrupt wealth
                                                generating scam
                                                that <a
                                                        href="https://www.nytimes.com/2012/10/26/business/global/family-of-wen-jiabao-holds-a-hidden-fortune-in-china.html">by
                                                        some estimates</a> has netted top leaders billions of dollars.
                                                One kept the talent borders
                                                porous acting as
                                                a
                                                magnet
                                                for the world’s top brains while the other interviewed you in a backroom
                                                at the airport before
                                                imprisoning you
                                                on .......</p>
                                </div>

                                <!-- How to password protect an Excel workbook -->

                                <div class="entry2 mb-5">
                                        <a
                                                href="https://www.techrepublic.com/blog/microsoft-office/use-a-password-to-secure-access-to-an-excel-workbook/"><img
                                                        src="https://tr4.cbsistatic.com/hub/i/r/2017/02/15/feb15481-b553-45a6-afad-685cc4979a0c/thumbnail/768x432/e6f7f84f4d6db79ec660ed82c7492adc/keystech.jpg"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://www.techrepublic.com/blog/microsoft-office/use-a-password-to-secure-access-to-an-excel-workbook/">How
                                                        to password protect an Excel workbook</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a
                                                                href="https://www.techrepublic.com/meet-the-team/us/susan-harkins/">susan
                                                                harkins</a> |
                                                        <a
                                                                href="https://www.techrepublic.com/meet-the-team/us/brandon-vigliarolo/">brandon
                                                                vigliarolo</a> </span>
                                                <span>&nbsp;-&nbsp; March 29, 2019</span>
                                        </div>
                                        <p>Securing data is a tiered process with password protection at the bottom
                                                level--the file level. It's a first
                                                step
                                                effort, but certainly not the only step you should take to protect
                                                confidential and proprietary data.
                                                Password
                                                protecting an Excel workbook at the file level controls access in two
                                                ways: It lets a user in, and it
                                                lets a
                                                user save
                                                changes. In this article, I'll show you more than just how to
                                                password-protect a workbook. You'll learn
                                                what
                                                that
                                                protection does and doesn't do for you and how to ...........</p>
                                </div>

                                <!-- Engineers produce a fisheye lens that’s completely flat -->

                                <div class="entry2 mb-5">
                                        <a href="https://news.mit.edu/2020/flat-fisheye-lens-0918"><img
                                                        src="https://news.mit.edu/sites/default/files/download/202009/MIT-Fisheye-Lens-02-PRESS.jpg"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://news.mit.edu/2020/flat-fisheye-lens-0918">Engineers produce
                                                        a fisheye lens that’s
                                                        completely flat</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a href="#">Jennifer Chu | MIT News
                                                                Office</a></span>
                                                <span>&nbsp;-&nbsp; September 18, 2020</span>
                                        </div>
                                        <p>To capture panoramic views in a single shot, photographers typically use
                                                fisheye lenses —
                                                ultra-wide-angle lenses made from multiple pieces of curved glass, which
                                                distort incoming light
                                                to produce wide, bubble-like images. Their spherical, multipiece design
                                                makes fisheye lenses
                                                inherently bulky and often costly to ......</p>
                                </div>

                                <!-- Modernizing Your Enterprise With AWS Outposts -->

                                <div class="entry2 mb-5">
                                        <a
                                                href="https://www.forbes.com/sites/awsinfrastructuresolutions/2020/09/18/modernizing-your-enterprise-with-aws-outposts/"><img
                                                        src="https://specials-images.forbesimg.com/imageserve/5f63d06a56dda1ac4ec57eaf/960x0.jpg"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://www.forbes.com/sites/awsinfrastructuresolutions/2020/09/18/modernizing-your-enterprise-with-aws-outposts/">Modernizing
                                                        Your Enterprise With AWS Outposts</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1"></span>
                                                <span>&nbsp;-&nbsp; September 18, 2020</span>
                                        </div>
                                        <p>The pace of change in virtually every industry is quicker than&nbsp;it’s ever
                                                been. In response
                                                to these ever-evolving conditions,&nbsp;organizations are being forced
                                                to innovate faster. At
                                                the&nbsp;same time, the need to reduce costs is ever-present.
                                                By&nbsp;modernizing their
                                                technology foundations, businesses can&nbsp;drive down overhead while
                                                putting in place the
                                                enablers of&nbsp;agility, ......</p>
                                </div>

                                <!-- Chinese Antivirus Firm Was Part of APT41 ‘Supply Chain’ Attack -->

                                <div class="entry2 mb-5">
                                        <a
                                                href="https://krebsonsecurity.com/2020/09/chinese-antivirus-firm-was-part-of-apt41-supply-chain-attack/"><img
                                                        src="https://krebsonsecurity.com/wp-content/uploads/2020/09/apt41-group.png"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span>Image: FBI</span>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://krebsonsecurity.com/2020/09/chinese-antivirus-firm-was-part-of-apt41-supply-chain-attack/">Chinese
                                                        Antivirus Firm Was Part of APT41 ‘Supply Chain’ Attack</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a href="#">BrianKrebs</a></span>
                                                <span>&nbsp;-&nbsp; September 17, 2020</span>
                                        </div>
                                        <p>The <strong>U.S. Justice Department</strong> this week indicted seven Chinese
                                                nationals for a
                                                decade-long hacking spree that targeted more than 100 high-tech and
                                                online gaming companies. The
                                                government alleges the men used malware-laced phishing emails and
                                                “supply chain” attacks to
                                                steal
                                                data from companies and their customers. One of the alleged hackers was
                                                first profiled here in
                                                2012
                                                as the ......</p>
                                </div>

                                <!-- Africa Initiative for Governance (AIG) Scholarships 2021/2022 for Study
                            in the University of Oxford, UK (Fully Funded) -->

                                <div class="entry2 mb-5">
                                        <a
                                                href="https://www.opportunitiesforafricans.com/africa-initiative-for-governance-scholarships-2021-2022/"><img
                                                        src="https://www.opportunitiesforafricans.com/wp-content/uploads/2020/09/aig-scholarships-2021-2022.jpg"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://www.opportunitiesforafricans.com/africa-initiative-for-governance-scholarships-2021-2022/">Africa
                                                        Initiative for Governance (AIG) Scholarships 2021/2022 for Study
                                                        in the University of Oxford, UK (Fully Funded)</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a
                                                                href="https://www.opportunitiesforafricans.com/author/ofa/?amp">OFA</a></span>
                                                <span>&nbsp;-&nbsp; September 18, 2020</span>
                                        </div>
                                        <p>The AIG Scholarships are targeted at graduates between the ages of 25 and 35
                                                with strong
                                                intellectual capability, outstanding academic achievements, leadership
                                                skills and a passion to
                                                contribute to the development of Africa’s public sector.</p>
                                        <p><strong>Eligibility Criteria:</strong></p>
                                        <p>To be eligible for consideration for the award of an AIG Scholarship, you
                                                must: ......</p>
                                </div>

                                <!-- GitHub CLI 1.0 is now available -->

                                <div class="entry2 mb-5">
                                        <a href="https://github.blog/2020-09-17-github-cli-1-0-is-now-available/"><img
                                                        src="https://github.blog/wp-content/uploads/2020/09/GitHubCLI_SocialCard_VersionNumber_NoSubLine_v2.png?fit=1200%2C630"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://github.blog/2020-09-17-github-cli-1-0-is-now-available/">GitHub
                                                        CLI 1.0 is now
                                                        available</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By Amanda Pinsker</span>
                                                <span>&nbsp;-&nbsp; September 17, 2020</span>
                                        </div>
                                        <p>GitHub CLI brings GitHub to your terminal. It reduces context switching,
                                                helps you focus, and
                                                enables you to more easily script and create your own workflows. Earlier
                                                this year, we <a
                                                        href="https://github.blog/2020-02-12-supercharge-your-command-line-experience-github-cli-is-now-in-beta/">announced
                                                        the beta of GitHub CLI</a>. Since we released the beta, users
                                                have created over 250,000 pull
                                                requests, performed over 350,000 merges, and created over 20,000 issues
                                                with GitHub CLI. We’ve
                                                received so much thoughtful feedback, and today GitHub CLI is out of
                                                beta and available to
                                                download on <a href="https://cli.github.com/">Windows, macOS, and
                                                        Linux</a>.</p>
                                        <p>With GitHub CLI 1.0, you can: ......</p>
                                </div>

                                <div class="row text-center pt-5 border-top">
                                        <div class="col-md-12">
                                                <div class="custom-pagination">

                                                        <a href="#">1</a>
                                                        <a href="#">2</a>
                                                        <span>3</span>
                                                        <a href="#">4</a>
                                                        <a href="#">5</a>
                                                        <span>...</span>
                                                        <a href="#">15</a>
                                                </div>
                                        </div>
                                </div>

                                {% endblock %}