{% extends 'category.html' %}
{% load static %}
{% block category %}


<div class="site-cover site-cover-sm same-height overlay single-page"
        style="background-image: url('{% static 'zenquest/images/hero_1.jpg' %}');">
        <div class="container">
                <div class="row same-height justify-content-center">
                        <div class="col-md-12 col-lg-10">
                                <div class="post-entry text-center">
                                        <span class="post-category text-white bg-success mb-3">Technology</span>
                                        <h1 class="mb-4"><a href="#">'Technology' Category</a></h1>
                                </div>
                        </div>
                </div>
        </div>
</div>

<section class="site-section py-lg">
        <div class="container">

                <div class="row blog-entries element-animate mb-5">

                        <div class="col-md-12 col-lg-8 main-content">
                                <!-- Galaxy Tab S7 and S7+ review: Samsung’s best can’t fix Android’s flaws -->

                                <div class="entry2 mb-5">
                                        <a
                                                href="https://www.engadget.com/samsung-galaxy-tab-s7-s7-plus-review-dex-120hz-specs-130043834.html"><img
                                                        src="https://o.aolcdn.com/images/dims?image_uri=https%3A%2F%2Fmedia-mbst-pub-ue1.s3.amazonaws.com%2Fcreatr-uploaded-images%2F2020-09%2F08dbb314-f94f-11ea-bfe6-3e66dc5945b3&thumbnail=640%2C&client=49kdj93ncb8s938hkdo&signature=75a2c36efc970936acc729b3f04b199fc0c118b5"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://www.engadget.com/samsung-galaxy-tab-s7-s7-plus-review-dex-120hz-specs-130043834.html">Galaxy
                                                        Tab S7 and S7+ review: Samsung’s best can’t fix Android’s
                                                        flaws</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By Cherlynn Low, @cherlynnlow</span>
                                                <span>&nbsp;-&nbsp; September 18, 2020</span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora
                                                dolor laudantium sed optio.
                                                laborum error in eum id veritatis quidem neque nesciunt at architecto
                                                nam ullam, officia unde dolores
                                                officiis veniam</p>
                                </div>


                                <!-- Google teases a Gmail facelift that brings it in line with other recent brand revamps -->

                                <div class="entry2 mb-5">
                                        <a href="https://9to5google.com/2020/09/19/new-gmail-icon-teaser/"><img
                                                        src="https://9to5google.com/wp-content/uploads/sites/4/2020/09/new-gmail-icon-2.jpg?quality=82&strip=all&w=1000"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://9to5google.com/2020/09/19/new-gmail-icon-teaser/">Google
                                                        teases a Gmail facelift that
                                                        brings it in line with other recent
                                                        brand revamps</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a href="#">Abner Li</a></span>
                                                <span>&nbsp;-&nbsp; September 19, 2020</span>
                                        </div>
                                        <p>A big update to Gmail that brought Chat, Meet, and Rooms to one central hub
                                                was announced in
                                                July. That’s <a
                                                        href="https://9to5google.com/2020/08/12/new-gmail-rolling-out/">now
                                                        rolling
                                                        out</a> to enterprise G Suite customers, while all personal
                                                accounts already have a
                                                dedicated Meet tab. Following those announcements, the company is
                                                readying a facelift for Gmail,
                                                and it starts with a new icon, if a teaser Google sent us is to be
                                                believed.</p>
                                        <p>It’s clear based on the image Google sent us that the company is <em>at
                                                        least</em> working on a
                                                new logo. This wouldn’t be surprising; in ......</p>
                                </div>

                                <!-- Woman dies during a ransomware attack on a German hospital -->

                                <div class="entry2 mb-5">
                                        <a
                                                href="https://www.theverge.com/2020/9/17/21443851/death-ransomware-attack-hospital-germany-cybersecurity"><img
                                                        src="https://cdn.vox-cdn.com/thumbor/gMmV84antR4l5_Io-34I108H8iA=/0x0:1000x667/1200x800/filters:focal(420x254:580x414)/cdn.vox-cdn.com/uploads/chorus_image/image/67426154/hospital-bed-1.0.png"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://www.theverge.com/2020/9/17/21443851/death-ransomware-attack-hospital-germany-cybersecurity">Woman
                                                        dies during a ransomware attack on a German hospital</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a href="#">Nicole
                                                                Wetsman</a></span>
                                                <span>&nbsp;-&nbsp; September 17, 2020</span>
                                        </div>
                                        <p>A woman in Germany died during a ransomware attack on the Duesseldorf
                                                University Hospital, in
                                                what may be the first death directly linked to a cyberattack on a
                                                hospital. The hospital
                                                couldn’t accept emergency patients because of the attack, and the woman
                                                was sent to a health
                                                care facility around 20 miles away, the ......</p>
                                </div>

                                <!-- US bans WeChat, TikTok from app stores, threatens shutdowns -->

                                <div class="entry2 mb-5">
                                        <a href="https://apnews.com/a439ead01b75fc958c722daf40f9307c"><img
                                                        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iE_DSRhnTEPU/v0/1200x-1.jpg"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://apnews.com/a439ead01b75fc958c722daf40f9307c">US bans
                                                        WeChat, TikTok from app stores,
                                                        threatens shutdowns</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a href="#">TALI ARBEL, MATT
                                                                O'BRIEN and MATT OTT</a></span>
                                                <span>&nbsp;-&nbsp; Septempber 18, 2019</span>
                                        </div>
                                        <p>The U.S. Commerce Department said Friday it will ban Chinese-owned TikTok and
                                                WeChat from U.S.
                                                app stores on Sunday and
                                                will bar the apps from accessing essential internet services in the U.S.
                                                — a move that could
                                                effectively wreck the
                                                operation of both Chinese services for U.S. users.</p>
                                        <p>TikTok won’t face ......</p>
                                </div>


                                <!-- Trump Says He’s Approved Oracle Deal For U.S. TikTok -->

                                <div class="entry2 mb-5">
                                        <a
                                                href="https://www.bloomberg.com/news/articles/2020-09-19/trump-says-he-s-approved-oracle-deal-for-u-s-tiktok-operations"><img
                                                        src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iE_DSRhnTEPU/v0/100x-1.jpg"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://www.bloomberg.com/news/articles/2020-09-19/trump-says-he-s-approved-oracle-deal-for-u-s-tiktok-operations">Trump
                                                        Says He’s Approved Oracle Deal For U.S. TikTok</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a
                                                                href="https://www.bloomberg.com/authors/ARPhE-tuXoo/saleha-mohsin"
                                                                target="_blank">Saleha Mohsin</a>,
                                                        <a href="https://www.bloomberg.com/authors/ASLqWCO-Zh4/josh-wingrove"
                                                                target="_blank">Josh
                                                                Wingrove</a>, and
                                                        <a href="https://www.bloomberg.com/authors/ASzQCOA5TQg/jennifer-jacobs"
                                                                target="_blank">Jennifer
                                                                Jacobs</a></span>
                                                <span>&nbsp;-&nbsp; September 19, 2020</span>
                                        </div>
                                        <p>Donald Trump approved <a>Oracle Corp</a>.’s bid for the U.S. operations of
                                                TikTok “in concept,” a
                                                deal
                                                forced by the president’s orders last month declaring the popular
                                                video-sharing app a national
                                                security threat.</p>
                                        <p>“I have given the deal my blessing. If they get it done that’s great. If they
                                                don’t, ......</p>
                                </div>

                                <!-- Getting rid of the Google cookie consent popup -->

                                <div class="entry2 mb-5">
                                        <a
                                                href="https://daniel-lange.com/archives/164-Getting-rid-of-the-Google-cookie-consent-popup.html"><img
                                                        src="https://daniel-lange.com/uploads/entries/200918_Google_cookie_consent_screen.png"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://daniel-lange.com/archives/164-Getting-rid-of-the-Google-cookie-consent-popup.html">Getting
                                                        rid of the Google cookie consent popup</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a href="#">Daniel Lange</a></span>
                                                <span>&nbsp;-&nbsp; September 18, 2020</span>
                                        </div>
                                        <p>If you clear your browser cookies regularly (as you should do), Google will
                                                annoy you with a full
                                                screen cookie consent
                                                overlay these days. And - of course - there is no "no tracking consent,
                                                technically required
                                                cookies only" button. You
                                                may log in to Google to set your preference. Yeah, ......</p>
                                </div>


                                <!-- Analyst: 1,500 Bitcoins Lost Every Day, Less Than 14 Million
                            Coins Will Ever Circulate -->

                                <div class="entry2 mb-5">
                                        <a
                                                href="https://news.bitcoin.com/analyst-1500-bitcoins-lost-every-day-less-than-14-million-coins-will-ever-circulate/"><img
                                                        src="https://news.bitcoin.com/wp-content/uploads/2020/09/analyst-1500-bitcoins-lost-every-day-less-than-14-million-coins-will-ever-circulate.jpg"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://news.bitcoin.com/analyst-1500-bitcoins-lost-every-day-less-than-14-million-coins-will-ever-circulate/">Analyst:
                                                        1,500 Bitcoins Lost Every Day, Less Than 14 Million
                                                        Coins Will Ever Circulate</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a href="#">Terence
                                                                Zimwara</a></span>
                                                <span>&nbsp;-&nbsp; September 18, 2020</span>
                                        </div>
                                        <p>A cryptocurrency analyst, Timothy Peterson claims that 1,500 bitcoins are
                                                lost each day
                                                meaning only 14
                                                million <a href="https://markets.bitcoin.com/crypto/BTC"
                                                        target="_blank">BTC</a> will ever
                                                circulate. The figure is at odds with the
                                                estimate of many organizations
                                                including Markets.bitcoin.com which place the figure at ....</p>
                                </div>


                                <!-- How The U.S. Hacked ISIS -->

                                <div class="entry2 mb-5">
                                        <a href="https://www.npr.org/2019/09/26/763545811/how-the-u-s-hacked-isis"><img
                                                        src="https://media.npr.org/assets/img/2014/11/17/img_0157_sq-71a8ce3a62d9c4f15bddcd51a48bf18507fbae91-s100-c85.jpg"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://www.npr.org/2019/09/26/763545811/how-the-u-s-hacked-isis">How
                                                        The U.S. Hacked ISIS</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a
                                                                href="https://www.npr.org/people/11209543/dina-temple-raston">DINA
                                                                TEMPLE-RASTON</a></span>
                                                <span>&nbsp;-&nbsp; September 26, 2019</span>
                                        </div>
                                        <p>The crowded room was awaiting one word: "Fire."</p>
                                        <p>Everyone was in uniform; there were scheduled briefings, last-minute
                                                discussions, final
                                                rehearsals. "They wanted to look me in the eye and say, 'Are you sure
                                                this is going to work?' "
                                                an operator named Neil said. "Every time, I had to say yes, no matter
                                                what I thought." He was
                                                nervous, but confident. U.S. Cyber Command and the National Security
                                                Agency had never worked
                                                together on something this big before.</p>
                                        <p>Four teams sat at workstations set up like high school carrels. Sergeants sat
                                                before keyboards;
                                                intelligence analysts on one side, linguists and support staff on
                                                another. Each station was
                                                armed with ...... </p>
                                </div>


                                <!-- Backdoors and other vulnerabilities in HiSilicon based hardware video encoders
 -->

                                <div class="entry2 mb-5">
                                        <a href="https://kojenov.com/2020-09-15-hisilicon-encoder-vulnerabilities"><img
                                                        src="https://kojenov.com/assets/2020-09-15-encoders/010-title-bug.png"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://kojenov.com/2020-09-15-hisilicon-encoder-vulnerabilities">Backdoors
                                                        and other
                                                        vulnerabilities in HiSilicon based hardware video encoders
                                                </a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a href="">Alexei
                                                                Kojenov</a></span>
                                                <span>&nbsp;-&nbsp; September 15, 2020</span>
                                        </div>
                                        <p>This article discloses critical vulnerabilities in IPTV/H.264/H.265 video
                                                encoders based on HiSilicon hi3520d
                                                hardware. The vulnerabilities exist in the application software running
                                                on these devices. All
                                                vulnerabilities are exploitable remotely and can ...... </p>
                                </div>


                                <!-- Windows Server Update Gets Serious: You Have The Weekend To Comply, Homeland Security Says -->

                                <div class="entry2 mb-5">
                                        <a
                                                href="https://www.forbes.com/sites/daveywinder/2020/09/19/windows-updates-get-serious-you-have-the-weekend-to-comply-homeland-security-says">
                                                <img src="https://specials-images.forbesimg.com/imageserve/5f65eb74961360b3a252680e/960x0.jpg"
                                                        alt="Image" class="img-fluid rounded"></a>
                                        <span class="post-category text-white bg-primary mb-3">Technology</span>
                                        <h2><a href="https://www.forbes.com/sites/daveywinder/2020/09/19/windows-updates-get-serious-you-have-the-weekend-to-comply-homeland-security-says/">Windows
                                                        Server Update Gets Serious: You Have The Weekend To Comply,
                                                        Homeland Security Says</a></h2>
                                        <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 mr-3 float-left"><img
                                                                src="{% static 'zenquest/images/person_1.jpg' %}"
                                                                alt="Image" class="img-fluid">
                                                </figure>
                                                <span class="d-inline-block mt-1">By <a
                                                                href="https://www.forbes.com/sites/daveywinder/">Davey
                                                                Winder</a></span>
                                                <span>&nbsp;-&nbsp; September 19, 2020</span>
                                        </div>
                                        <p>Windows security updates should always be taken seriously, of that there is
                                                no doubt. But when the U.S.
                                                Department of Homeland Security, Cybersecurity and Infrastructure
                                                Security Agency (CISA) issues an
                                                emergency directive for a perfect 10, critical, Windows Server
                                                vulnerability, ...... </p>


                                </div>

                                <div class="row text-center pt-5 border-top">
                                        <div class="col-md-12">
                                                <div class="custom-pagination">

                                                        <a href="{% url 'technology' %}">1</a>
                                                        <span>2</span>
                                                        <a href="{% url 't1' %}">3</a>
                                                        <a href="#">4</a>
                                                        <span>...</span>
                                                        <a href="#">15</a>
                                                </div>
                                        </div>
                                </div>

                                {% endblock %}